<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Populate Languages 
- List Libraries Used
- List Tools used
- Demonstrate Basic Arithmetic
- Demonstrate Conversions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. ggplot
3. ScikitLearn

| Data Science Tools |
|:------------------:|
| Anaconda           |
| Jupyter            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = round(200 / 60, 2)
print(hours, "hours")

3.33 hours

## Author
Mohamed Inamul Hassan Mohamed Hussain Iqbal